<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377756626541-pbop4cclqlq6h7ibh1eiqu47naicghe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377756626541-pbop4cclqlq6h7ibh1eiqu47naicghe1</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ZSM8K9hCVuDMntv_kWcaoJkJRmoy01I</string>
	<key>GCM_SENDER_ID</key>
	<string>377756626541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiujitsuclub.jiujitsuclub</string>
	<key>PROJECT_ID</key>
	<string>jjc---000</string>
	<key>STORAGE_BUCKET</key>
	<string>jjc---000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377756626541:ios:7e0c6ca0e2a6750deed964</string>
</dict>
</plist>